@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@600&family=Carter+One&family=Nanum+Gothic&family=Noto+Sans:wght@600&family=Oswald&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 3000px;
    width: 100%;
    margin-top:-30px;
    background-image: url('./img/isometric-programmer-coding-new-project-web-development-programming-skills-website-web-banner-illustration-project-team-engineers-website-php-html-css-js_589019-3110.webp');
    background-repeat: no-repeat;
    background-size: 1700px;
}

header{
    /* border: 1px solid black; */
}

.mother{
   /* background-color: rgba(158, 70, 110, 0.453); */
}



.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 2px; */
    /* margin-bottom: -2pc; */
    /* border-bottom: 1px solid black; */
    padding: 10px;
    background-color: rgba(155, 35, 121);
    position:sticky;
    top: 0;
    opacity: 0.93;
}




.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mms-it{
    color: rgba(233, 233, 233, 0.959);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    display: inline-block;
}

.nav{

}



.nav-link{
    font-family: 'Raleway','Padauk', sans-serif !important;
    font-size: 19px;
    font-weight: 100;
    color: rgba(93, 93, 93, 0.592);
}

.link{
    text-decoration: none;
    color: rgba(135, 135, 135, 0.805);
    margin: 0 20px;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}



.link::after{
    content: '';
    position:absolute;

    background-color: rgb(255, 255, 255);
    height: 1px;
    transform: scaleX(0);
    transition: transform .3s ease-in;
    transform-origin:center;

    top: 27px;
    right: 0;
    left: 1.6px;
    bottom: 0;
    width: 95%;
   
}

.link:hover::after{
    transform: scaleX(1);
    transform-origin: center;
    
}

.link:hover{
    font-size: 20px;
    color: #cfcfcfc0;
}

.main-services-container{
    margin-top: 8pc;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.project-controller{

}
.project{
    font-family: 'Lora', serif;
    font-size: 2em;
    font-weight: lighter;
}
.success-business{
    font-family: 'Roboto', sans-serif;
}

.main-div-container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.cotainer-creator-info{
    background-color: #cfcfcfc0;
    border: 3px solid black;
    width: 900px;
    display: block;
    margin: 5pc auto;
    /* padding-bottom: 5pc; */
}
.first-creator-info,.second-creator-info{
    display: flex;
    padding-bottom: 40px;
    justify-content: space-evenly;
}
.img-creator{border-radius: 10px;
    border: 1px solid grey;
    margin-top: 3pc;
    width: 300px;
}
.creator-info{
    margin-top: 5pc;
    width: 400px;
}
.creator-title{
    text-shadow : 8px 2px 10px rgb(65, 65, 65);
    font-size: 50px;
    padding-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
}
.about-title{
    margin-top: 3pc;
    text-align: center;
}
.about-h1{
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
}
.about-word{
    margin: 20px auto;
    width: 500px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.creator-about{
    text-align: start;
    font-size: 30px;
    line-height: 3pc;
    font-family: 'Roboto', sans-serif;

}
.icon-cotainer{
    text-align: center;
    margin: 20px ;
}
.icon-info{
    font-size: 30px;
    padding: 20px 15px 10px;
}